.spin-wrapper {
  position: absolute;
  right: 13px;
  left: 13px;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
}
.spin-wrapper .spinner {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 3px solid transparent;
  border-top-color: #a04668;
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}
.spin-wrapper .spinner:before {
  border-top-color: #254e70;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}
.spin-wrapper .spinner:after {
  border-top-color: #2e8d5a;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}

.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -30px;
  position: absolute;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.lds-ring__dark div {
  border: 8px solid #282A36;
  border-color: #282A36 transparent transparent transparent;
}

/* ripple */

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -30px;
  position: absolute;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.lds-ripple__dark div {
  border: 4px solid #282A36;
}

/*  */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -30px;
  position: absolute;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring__dark:after {
  border: 6px solid #282A36;
  border-color: #282A36 transparent #282A36 transparent;
}