html,body{
	height: 100%;
	width: 100%;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-left__logo img {
	max-height: 58px;
}

.fresh-item img {
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.sticky-line .container {
	max-width: 1216px;
}

.sticky-line {
	background: #323F4B;
}

.header-wrap .mobileMenu {
	z-index: 1;
}

.sticky-line__nav-link.mobile-only {
	display: none;
}

.sticky-line__burger-wrapper {
	display: none;
}

.sticky-line__nav.navbar-start {
	margin-left: 0;
}

.sticky-line hr {
	display: none;
}

@media screen and (max-width: 1024px) {
  .header {
		position: static;
	}

	.sticky-line {
		top: 0;
		bottom: auto;
	}

	.sticky-line .container {
		display: none;
	}

	.sticky-line-wrap {
		display: block;
		background-color: transparent;
		padding-right: 30px;
		padding-left: 30px;
	}

	.sticky-line__search {
		display: flex;
	}

	/* ----- */

	.sticky-line__nav.navbar-start {
		justify-content: flex-start;
	}

	.sticky-line-wrap {
		max-width: 100%;
		display: flex;
	}

	/* ----- */

	.menu-area .header-wrap__nav {
		flex-wrap: wrap;

		visibility: visible;
    position: static;
    transform: translateX(0);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
		padding-top: 0px;

		width: 100%;
		justify-content: space-around;
	}

	.mobileMenu {
		display: none !important;
	}

	.menu-area .header-wrap__nav-link {
		padding-top: 0px;
		padding-right: 0px;	
		padding-bottom: 0;
		padding-left: 0;

		color: #4a4a4a;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    will-change: color;
	}

	.actual-news .fresh-item {
		height: 140px;
	}
	
	/* .sticky-line__burger-wrapper {
		display: block;
	}

	.sticky-line__burger {
		display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 6;
			cursor: pointer;
	}

	.sticky-line__burger span {
		display: block;
		top: 9px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}

	
	.sticky-line__burger:before,.sticky-line__burger:after {
		display: block;
		content: "";
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}

	.sticky-line__burger.active span {
		transform: scale(0);
		background-color: #0B1824;
	}

	.sticky-line__burger.active:before {
		transform: rotate(45deg);
		background-color: #0B1824;
		top: 9px;
	}

	.sticky-line__burger.active:after {
		transform: rotate(-45deg);
		background-color: #0B1824;
		bottom: 9px
	}

	.sticky-line__burger:before{
		top: 0;
	}
	.sticky-line__burger:after{
		bottom: 0;
	}

	.sticky-line-wrap {
		transition: .5s ease-out;
		position: fixed;
		top: -100%;
		left: 50%;
		width: calc(100% + 2px);
		max-width: calc(100% + 2px);
		transform: translateX(-50%);
		padding: 0;
		z-index: 5;
		margin-left: -1px;
		overflow-y: scroll;
		padding: 15px 70px 15px 15px;
	}

.sticky-line-wrap::-webkit-scrollbar { width: 0; }
.sticky-line-wrap { -ms-overflow-style: none; }
.sticky-line-wrap { overflow: -moz-scrollbars-none; }

	.sticky-line__nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
	}
	
	.sticky-line__nav-link {
		margin-bottom: 20px;
		text-align: left;
	}

	.sticky-line__nav-link.active {
		color: #0B1824;
	}

	.sticky-line__nav-link:hover {
		color: #0B1824;
	}

	.sticky-line__nav-link:not(:last-child) {
    margin-right: 0;
	}
	.sticky-line__nav-link.social-link {
		margin-bottom: 0;
	}

	.sticky-line-wrap.active {
		top: 0;
	}

	.sticky-line__search {
		display: flex;
	} */

	.city {
		width: 100%;
	}
	.city-wrap {
		width: 100%;
		max-width: 100%;
	}

	.header-wrap__logo {
		margin-right: 10px;
	}

	.header-wrap__logo .section-ad {
		margin-left: 15px;
	}


	.section-mini .news-left__block {
		flex-direction: row;
		padding-right: 15px;
		padding-left: 15px;
	}

	.news-left__block {
		flex-direction: row;
	}

	.section-mini {
	}
	
	.section-mini .news-left__block .nlb-item {
		/* margin: 0; */
	}

	.feedback-form input {
		max-width: 100%;
	}

	.nlb-item.full-item img.title-photo {
		display: none;
	}

	.nlb-item.full-item .nlb-item-text {
		text-align: left;
	}

	/* footer */

	.footer-left {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.footer-right {
		display: block;
	}

	.column-footer.is-two-fifths {
		order: 4;
	}

	.footer-info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}



@media screen and (max-width: 918px) {
	.section-main .column {
		padding: 0.5rem;
	}

	.nlb-item.article-item {
		width: calc(50% - 1.25rem);
	}
}

@media screen and (max-width: 767px) {

	.sticky-line {
		height: 80px;
	}

	.menu-area {
		display: none;
	}

	.sticky-line hr {
		width: 100px;
		display: block;
		max-width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.sticky-line__nav-link.mobile-only {
		display: block;
	}

	.sticky-line__burger-wrapper {
		display: block;
	}

	.sticky-line .container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 30px;
	}

	.sticky-line__burger {
		display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 6;
			cursor: pointer;
	}

	.sticky-line__burger span {
		display: block;
		top: 9px;
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}

	
	.sticky-line__burger:before,.sticky-line__burger:after {
		display: block;
		content: "";
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.3s;
	}

	.sticky-line__burger.active span {
		transform: scale(0);
		background-color: #0B1824;
	}

	.sticky-line__burger.active:before {
		transform: rotate(45deg);
		background-color: #0B1824;
		top: 9px;
	}

	.sticky-line__burger.active:after {
		transform: rotate(-45deg);
		background-color: #0B1824;
		bottom: 9px
	}

	.sticky-line__burger:before{
		top: 0;
	}
	.sticky-line__burger:after{
		bottom: 0;
	}

	.sticky-line-wrap {
		transition: .5s ease-out;
		position: fixed;
		background: #fff;
		/* box-sizing: border-box; */
		top: -100%;
		left: 50%;
		bottom: 0;
		right: 0;
		width: calc(100% + 2px);
		max-width: calc(100% + 2px);
		transform: translateX(-50%);
		padding: 0;
		z-index: 5;
		margin-left: -1px;
		overflow-y: scroll;
		padding: 15px 70px 15px 15px;
		align-items: flex-start;
		/* padding-bottom: 80px; */
		height: 100%;
	}

.sticky-line-wrap::-webkit-scrollbar { width: 0; }
.sticky-line-wrap { -ms-overflow-style: none; }
.sticky-line-wrap { overflow: -moz-scrollbars-none; }

	.sticky-line__nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
	}
	
	.sticky-line__nav-link {
		margin-bottom: 20px;
		text-align: left;
	}

	.sticky-line__nav-link.active {
		color: #0B1824;
	}

	.sticky-line__nav-link:hover {
		color: #0B1824;
	}

	.sticky-line__nav-link:not(:last-child) {
    margin-right: 0;
	}
	.sticky-line__nav-link.social-link {
		margin-bottom: 0;
	}

	.sticky-line-wrap.active {
		top: 0;
	}

	.sticky-line__search {
		display: flex;
		justify-content: flex-start;
		/* justify-content: center; */
	}






	.section-mini .news-left__block .nlb-item {
		width: calc(50% - 1.25rem);
	}
	.section-mini .news-left__block .nlb-item:nth-child(even) {
		margin-right: 0;
	}
	.section-mini .news-left__block .nlb-item img.title-photo {
    width: 100%;
    height: 120px;
	}

	.section-main .columns {
		display: flex;
		flex-wrap: wrap;
	}

	.section-main .left-line {
		order: 2;
		flex: 1 0 flex;
	}

	.section-main .center-feed {
		order: 1;
	}

	.section-main .right-feed {
		order: 3;
		flex: 0 0 240px;
	}

	.section-main .column {
		max-width: 100%;
	}

	.section-main .nlb-item.item-50 {
		margin-right: 0;
	}
	.section-main .nlb-item.item-50 img.title-photo {
		width: 100%;
		height: 140px;
	}
	.section-main .nlb-item.article-item img.title-photo {
		width: 100%;
		height: 140px;
	}

	.fresh-item {
		height: 230px;
	}
	.fresh-item h4 {
		font-size: 1.1rem;
	}

	.nlb-item.full-item {
		margin-right: 0;
		width: 100%;
		max-width: 100%;
		align-items: flex-start;
		text-align: left;
	}

	.nlb-item.full-item img.title-photo {
		display: block;
		height: 100px;
		width: 110px;
	}
	.nlb-item.full-item .nlb-item__title {
		margin-top: 5px;
		font-size: 1.1rem;
	}
	.nlb-item.full-item .infos .time,.nlb-item.full-item .infos .watch {
		font-size: 1rem;
	}

	.actual-news .columns {
		display: flex;
		flex-wrap: wrap;
	}
	.actual-news .columns .column {
		width: 50%;
		flex-basis: 50%;
	}

	.actual-news .fresh-item {
		height: 130px;
	}

	.events-area {
		width: 100%;
	}

	/* footer */

	.footer {
		margin-top: 15px;
	}
}

@media screen and (max-width: 560px) {
	.column-footer {
		flex-basis: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.column-footer:first-child {
		margin-bottom: 0;
	}

	.column-footer .icons-list{
		margin-left: 0;
	}

	.header-wrap__logo {
		flex-direction: column;
		align-items: flex-start;
	}
	.header-wrap__logo .logo-area{
		margin-bottom: 20px;
	}
	.header-wrap__logo .logo-area img{
		width: 150px;
	}

	.header-wrap__logo .section-ad {
		flex: 1 1 100%;
		margin: 0;
	}
}

.nlb-item.article-item:not(:last-child) {
	margin-right: 0;
}

@media screen and (max-width: 480px) {

	/* header */

	.header-wrap__logo .logo-area{
		margin-bottom: 0px;
	}

	/* /header */


	.section-mini .news-left__block {
		justify-content: center;
		padding-bottom: 0;
	}
	.section-mini .news-left__block .nlb-item {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
		/* background-color: red; */
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
	}

	.section-mini .news-left__block .nlb-item img.title-photo{
		max-width: 40%;
		width: 40%;
		height: 100%;
		margin-bottom: 0;
	}

	.section-mini .news-left__block .nlb-item .nlb-item-text{
		width: auto;
		text-align: left;
		padding-left: 15px;
		align-self: flex-start;
		padding-top: 5px;
	}

	.section-mini .news-left__block .nlb-item:last-child {
		margin-bottom: 0;
	}
	/* .section-mini .news-left__block .nlb-item img.title-photo {
    width: 100%;
    height: 120px;
	} */

	.actual-news .columns .column {
		width: 100%;
		flex-basis: 100%;
		padding: 0.4rem;
	}

	.actual-news .fresh-item {
		height: 200px;
	}

	.section {
		padding: 1rem 0.75rem;
	}

	.section-main .columns .column{
		flex-basis: 100%;;
	}

	.section-main .second-heading .heading-wrap {
		width: 100%;
		max-width: 100%;
	}

	.section-main .feedback-form {
		min-height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.section-main .feedback-form__title {
		padding: 0;
		margin-bottom: 15px;
	}

	.section-main .feedback-form__mail {
		margin-bottom: 15px;
		width: 60%;
		min-width: 180px;
	}

	.section-main .right-feed .news-line .feed-hedaer {
		font-size: 1.1rem;
	}

	.section-main .right-feed .news-line .infos .time-class {
		font-size: 0.9rem;
	}

	.section-main .nlb-item.item-50 {
		width: 100%;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;

		/* display: flex;
		flex-direction: row;
		flex-wrap: wrap; */
		display: block;
		margin-bottom: 10px;
		position: relative;
		padding-left: calc(37% + 15px);
		min-height: 100px;
	}
	
	.section-main .nlb-item.item-50 img.title-photo{
		width: 37%;
		max-width: 37%;
		position: absolute;
		top: 0;
		left: 0;
		height: 90px;
	}

	.section-main .nlb-item.item-50 .nlb-item__title{
		float: left;
		width: 100%;
		margin-top: 0px;
		text-align: left;
	}

	.section-main .nlb-item.item-50 .infos{
		float: left;
		width: 100%;
		text-align: left;
	}

	.section-main .nlb-item.article-item {
		width: 100%;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-bottom: 10px;
		position: relative;
		padding-left: calc(37% + 15px);
		min-height: 100px;
	}

	.section-main .nlb-item.article-item img.title-photo{
		width: 37%;
		max-width: 37%;
		position: absolute;
		top: 0;
		left: 0;
		height: 90px;
	}

	.section-main .nlb-item.article-item .nlb-item__title{
		float: left;
		width: 100%;
		margin-top: 0px;
		text-align: left;
	}

	.section-main .nlb-item.article-item .infos{
		float: left;
		width: 100%;
		text-align: left;
	}

	.section-main .column {
		padding: 1rem;
	}

	/* footer */
	.footer-left {
		flex-direction: column;
	}

	.footer-left__logo {
		margin-bottom: 15px;
	}
}



/* news-page */

.mt-0 {
	margin-top: 0;
}

.main-all-news {
	background-color: #F0F1F5;
}

.section-src, .section-all-news {
	padding: 1.5rem 1.5rem;
}

.section-src__bread-crumbs {
	display: flex;
	margin-bottom: 15px;
}

.section-src__category {
	font-size: 25px;
	color: #000;
	font-family: Georgia;
}

.section-src__inner {
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 2px 3px 1px #D8D8D8;
}

.section-src__bread-crumbs li{
	color: #AAAAAA;
	margin-right: 5px;
}

.section-src__bread-crumbs li a{
	color: #AAAAAA;
	transition: .3s ease-out;
}

.section-src__bread-crumbs li a:hover{
	color: #777;
}

.section-all-news__inner {
	display: flex;
	margin: 0px -15px;
	align-items: flex-start;
}

.section-all-news__news-column {
	padding: 0px 15px;
	flex: 1 0 75%;
	display: flex;
	flex-wrap: wrap;
	/* background-color: red; */
	margin: 0 -15px -30px -15px;
}

.section-all-news__article-block-wrap {
	flex: 0 0 50%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.article-block {
	background-color: #fff;
	position: relative;
	box-shadow: 0px 2px 3px 1px #D8D8D8;

	/* width: 100%; */
}

.item-with-shadow {
	box-shadow: 0px 2px 3px 1px #D8D8D8;
}

.article-block:hover {
	box-shadow: 4px 4px 7px 4px #D8D8D8;
	transition: .3s ease-out;
}

.article-block__body {
	padding: 10px 15px 15px 15px;
	display: block;
	/* color: #4a4a4a; */
}

.article-block__img img {
	height: 230px;
	width: 100%;
	pointer-events: none;
}

.article-block__infos {
	display: flex;
	font-size: 12px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.article-block__author {
	/* flex: 1 1 40%; */
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.article-block__title {
	font-size: 20px;
	line-height: 1.2;
	font-family: Georgia;
	margin-bottom: 12px;
	display: block;
	color: #4a4a4a;
	transition: .3s ease-out;
}

.article-block__title:hover {
	color: #D62420;
}

.article-block__views{
	color: #DA352F;
	font-weight: bold;
}

.article-block__author-photo {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.article-block__date {
	font-weight: bold;
	color: #5C5C5C;
}

.article-block__rubric {
	position: absolute;
	top: 0;
	left: 25px;
	padding: 1px 5px;
	background-color: #005689;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	color: #fff;
	font-family: Georgia;
	text-transform: uppercase;
	font-size: 11px;
	transition: .3s ease-out;
}

.article-block__rubric:hover {
	background-color: #3389BC;
	color: #fff;
}

.article-block__text {
	line-height: 1.5;
	font-size: 15px;
}


/* widget */

.section-all-news__widget-column {
	padding: 0px 15px;
	flex: 1 0 25%;
	/* background-color: green; */
}
.social-block {
	background-color: #fff;
	padding-top: 30px;
}

.social-block__title {
	padding-left: 25px;
	font-family: Georgia;
	border-left: 3px #D82924 solid;
	font-size: 20px;
	line-height: 1.2;
	color: #353535;
}

.social-block__body {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.social-block__item {
	flex: 1 1 33.333%;
	max-width: 33.333%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 10px;
}

.social-block__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 5px;

	transition: .3s ease-out;
	border: 2px solid transparent;
}

.social-block__icon-facebook {
	background-color: #3B5999;
}

.social-block__icon-facebook:hover {
	background-color: transparent;
	color: #3B5999;
	border-color: #3B5999;
}

.social-block__icon-twitter {
	background-color: #55ADED;
}

.social-block__icon-twitter:hover {
	background-color: transparent;
	color: #55ADED;
	border-color: #55ADED;
}

.social-block__icon-google {
	background-color: #DC4B38;
}

.social-block__icon-google:hover {
	background-color: transparent;
	color: #DC4B38;
	border-color: #DC4B38;
}

.social-block__icon-instagram {
	background-color: #517FA3;
}

.social-block__icon-instagram:hover {
	background-color: transparent;
	color: #517FA3;
	border-color: #517FA3;
}

.social-block__icon-youtube {
	background-color: #F33220;
}

.social-block__icon-youtube:hover {
	background-color: transparent;
	color: #F33220;
	border-color: #F33220;
}

.social-block__icon-dribbble {
	background-color: #EA4C89;
}

.social-block__icon-dribbble:hover {
	background-color: transparent;
	color: #EA4C89;
	border-color: #EA4C89;
}

.social-block__amount {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	font-size: 15px;
	color: #000;
}

.social-block__viewer-type {
	font-size: 12px;
	color: #aaa;
}

.categories-block {
	background-color: #fff;
	padding-top: 30px;
}

.categories__title {
	padding-left: 25px;
	font-family: Georgia;
	border-left: 3px #D82924 solid;
	font-size: 20px;
	line-height: 1.2;
	color: #353535;
}

.categories__body {
	padding: 30px;
}

.categories__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.categories__item:last-child {
	margin-bottom: 0;
}

.categories__item.active .categories__amount {
	background-color: #D62925;
}

.categories__name {
	color: #353535;
}

.categories__name:hover {
	color: #777;
}

.categories__amount {
	background-color: #00578C;
	padding: 2px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	line-height: 30;
	font-size: 15px;
}


/* rubrics */

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}

.rubrics-block-wrapper {
	background-color: #fff;
}

.rubrics-block-wrapper .tabs {
	display: flex;
	flex-direction: column;
	white-space: normal;
}

.rubrics-block-wrapper .tabs__caption {
	display: flex;
}

.rubrics-block-wrapper .tabs__caption li {
	flex: 1 1 auto;
	padding: 15px;
	cursor: pointer;
	/* font-family: Georgia; */
	text-transform: uppercase;
	font-size: 14px;
	transition: .3s ease-out;
	border-bottom: 3px solid transparent;
}

.rubrics-block-wrapper .tabs__caption li.active {
	border-bottom: 3px #D82924 solid;
	color: #005685;
}

.rubrics-block-wrapper .tabs__caption li:hover {
	color: #005685;
}

.rubrics-block-wrapper .tabs__content{
	height: 500px;
	overflow-y: scroll;
}

.rubrics-block-wrapper .tabs__content::-webkit-scrollbar {
  width: 4px;
  border-radius: 15rem;
}

.rubrics-block-wrapper .tabs__content::-webkit-scrollbar-track-piece {
  background: transparent;
}

.rubrics-block-wrapper .tabs__content::-webkit-scrollbar-thumb {
  border-radius: 15rem;
  width: 5px;
  background: #5C5C5C;
}


.rubrics-block {
	padding: 5px 15px 20px 15px;
}

.rubrics-item {
	display: flex;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 15px;
	padding-top: 15px;
	align-items: flex-start;
	margin-bottom: -1px;
	padding: 15px 0px 15px 0px;
}

.tabs .rubrics-item {
	display: flex;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 15px;
	padding-top: 15px;
	align-items: flex-start;
	margin-bottom: -1px;
	padding: 15px 0px 15px 0px;
}

.rubrics-item:last-child {
	border-bottom: 1px solid transparent;
}

.rubrics-item__title {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #005685;
}

.rubrics-item__descr {
	font-size: 14px;
	font-family: Georgia;
}

.rubrics-item__body {
	flex: 1 1 auto;
}

.rubrics-item__img {
	width: 80px;
	height: 60px;
	margin-right: 15px;
}

@media screen and (max-width: 1024px) {

	.article-block__img img{
		height: 180px;
	}

	.rubrics-block-wrapper .tabs__caption li {
		font-size: 12px;
		padding: 15px 10px 15px 10px;
	}

	.article-block__author span {
		display: none;
	}
}

@media screen and (max-width: 918px) {
	.social-block__item {
		flex: 1 1 50%;
		max-width: 50%;
	}

	.section-all-news__article-block-wrap {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.article-block__author span {
		display: block;
	}
	.article-block__author img {
		display: none;
	}

	.section-all-news__news-column {
		flex: 1 0 60%;
	}

	.section-all-news__widget-column {
		flex: 1 0 40%;
	}

	.social-block__item {
		flex: 1 1 33.333%;
		max-width: 33.333%;
	}
}

@media screen and (max-width: 767px) {

	.section-all-news__article-block-wrap {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.article-block__author span {
		display: block;
	}
	.article-block__author img {
		display: none;
	}

	.section-all-news__news-column {
		flex: 1 0 60%;
	}

	.section-all-news__widget-column {
		flex: 1 0 40%;
	}

	.social-block__item {
		flex: 1 1 33.333%;
		max-width: 33.333%;
	}
}

@media screen and (max-width: 560px) {
	.section-all-news__inner {
		flex-wrap: wrap;
	}

	.section-all-news__news-column {
		flex: 1 0 100%;
		margin-bottom: 0px;
	}

	.section-all-news__widget-column {
		flex: 1 0 100%;
	}

	.rubrics-item__img {
		width: 120px;
		height: 80px;
	}

	.social-block__item {
		flex: 1 1 16.666%;
		max-width: 16.666%;
	}
}

@media screen and (max-width: 480px) {
	.social-block__item {
		flex: 1 1 33.333%;
		max-width: 33.333%;
	}

	.article-block__img img{
		height: 130px;
	}

	.article-block__title {
		font-size: 18px;
	}

	.article-block__infos {
		margin-bottom: 5px;
	}

	.article-block__text {
		line-height: 1.3;
		font-size: 15px;
	}
}


/* about */



.section-about__inner {
	display: flex;
	margin: 0px -15px;
	align-items: flex-start;
}

.section-about__about-information-column {
	padding: 0px 15px;
	flex: 1 0 75%;
	display: flex;
	flex-wrap: wrap;
	/* background-color: red; */
	margin: 0 -15px;
}

.section-about__widget-column {
	padding: 0px 15px;
	flex: 1 0 25%;
	/* background-color: green; */
}

.about-information-block-wrap {
	padding: 0 15px;
	width: 100%;
}

.about-information-block {
	width: 100%;
	/* min-height: 500px; */
	background-color: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.w-50 {
	width: 50%;
}

.w-25 {
	width: 25%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.about-information-block__header-img {
	width: 100%;
	height: 200px;
}

.about-information-block__body {
	padding: 15px;
}

.about-information-block__title-1 {
	font-size: 26px;
}

.about-information-block__title-2 {
	font-size: 22px;
}

.about-information-block__text {
	line-height: 1.5;
}

.information__item {
	margin-bottom: 10px;
	font-size: 18px;
}

@media screen and (max-width: 918px) {
	/* .section-about__inner {
		flex-wrap: wrap;
	}
	.section-about__about-information-column {
		flex: 1 1 100%;
		margin-bottom: 30px;
	}

	.section-about__widget-column {
		flex: 1 1 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.section-about__widget-column .social-block{
		flex: 1 1 100%;
	}
	.section-about__widget-column .rubrics-block-wrapper{
		flex: 1 1 50%;
	}
	.section-about__widget-column .ad-square{
		flex: 1 1 50%;
	}
	.section-about__widget-column .categories-block{
		flex: 1 1 50%;
	} */

	.section-about__about-information-column {
		flex: 1 1 60%;
	}

	.section-about__widget-column {
		flex: 1 1 40%;
	}
}

@media screen and (max-width: 767px) {
	.section-about__inner {
		flex-wrap: wrap;
	}

	.section-about__about-information-column {
		flex: 1 1 100%;
		margin-bottom: 30px;
	}

	.section-about__widget-column {
		flex: 1 1 100%;
	}

	.section-about__widget-column .social-block .social-block__item{
		flex: 1 1 16.666%;
		max-width: 16.666%;
	}
}

@media screen and (max-width: 560px) {
	.section-about__widget-column .social-block .social-block__item{
		flex: 1 1 33.333%;
		max-width: 33.333%;
	}
}

@media screen and (max-width: 480px) {
}