
.logo-here {
    font-weight: 900;
    color: #f9ba39;
}

.navbar-brand {
    min-height: 1.25rem;
}
.uppercase-styled a {
    text-transform: uppercase;
}
.scroll-block {
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
}
.scroll-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
	border-radius: 10rem;
	background-color: #F5F5F5;
}
.scroll-block::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}
.scroll-block::-webkit-scrollbar-thumb {
	border-radius: 10rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
    box-shadow: inset 0 0 6px rgba(0,0,0,.15);
	background-color: #ef7c56;
}
.icons-navbar .m-field-icon {
    font-size: 1.25rem;
}
.small-icon {
    font-size: .8rem;
}
.mr-3 {
    margin-right: 1rem;
}
.choose-city {
    background: tomato;
    padding: .5rem 1rem;
    color: #fff;
    font-size: .95rem;
    border-radius: .125rem;
}
footer {
    background: #0b1824;
    color: #fff;
    padding: 2rem 1rem 1rem 1rem;
}
footer .column-footer {
    padding-right: 1rem;
}
.footer-hr {
    background: #757575;
    margin: 0;
    margin-bottom: .5rem;
    height: 1px;
}
.column-footer h4 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #d4d4d4;
    margin-bottom: 0.5rem;

}
.column-footer .icons-list {
    list-style: none;
    margin-left: 1.5em;
    padding-left: 0;
}
.column-footer .icons-list li {
    line-height: 1.25;
    position: relative;
}
.column-footer .icons-list li .icon-set {
    left: -2rem;
    position: absolute;
    text-align: center;
    width: 2rem;
    line-height: inherit;
    opacity: 0;
    transition: opacity .35s ease;
}
.column-footer .icons-list li:nth-child(1) .icon-set {
    color: #9575cd;
}
.column-footer .icons-list li:nth-child(2) .icon-set {
    color: #03a9f4;
}
.column-footer .icons-list li:nth-child(3) .icon-set {
    color: tomato;
}
.column-footer .icons-list li:nth-child(4) .icon-set {
    color: gold;
}
.column-footer .icons-list li:nth-child(5) .icon-set {
    color: #aed581;
}
.column-footer .icons-list li:not(:last-child) {
    margin-bottom: .5rem;
}
.column-footer .icons-list a {
    color: #fff;
    font-size: 400;
    opacity: .75;
    transition: opacity .35s ease;
}
.column-footer .icons-list li:hover a, .column-footer .icons-list li:focus a, .column-footer .icons-list li:active a {
    opacity: 1;
}
.column-footer .icons-list li:hover .icon-set, .column-footer .icons-list li:focus .icon-set, .column-footer .icons-list li:active .icon-set {
    opacity: 1;
}
.column-footer .footer-logo {
    max-width: 220px;
    margin-bottom: .5rem;
}
.column-footer .footer-text {
    color: #9e9e9e;
    margin-bottom: .5rem;
    line-height: 1.25;
    font-size: .8rem;
}
.footer-credentials {
    font-weight: 500;
    color: #9e9e9e;
    margin-bottom: 0;
    font-size: .8rem;
}
.footer-socials a {
    font-size: 1.25rem;
    color: #fff;
    opacity: .75;
    transition: opacity .35s ease;
}
.footer-socials a:not(:last-child) {
    margin-right: 1rem
}
.footer-socials a:hover, .footer-socials a:active, .footer-socials a:focus {
    color: #fff;
    opacity: 1;
}
.m-field:not(.disabled) {
    background-color: transparent;
}
.m-field {
    --mdc-ripple-fg-size: 0;
    --mdc-ripple-left: 0;
    --mdc-ripple-top: 0;
    --mdc-ripple-fg-scale: 1;
    --mdc-ripple-fg-translate-end: 0;
    --mdc-ripple-fg-translate-start: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    will-change: transform,opacity;
    border-radius: .125rem;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    height: 3rem;
    border: none;
    overflow: visible;
    will-change: opacity,transform,color;
    transition: all .3s linear;
    margin-bottom: 1rem;
}
.m-field.no-margin {
    margin-bottom: 0;
}
.m-field-icon {
    left: .75rem;
    top: 1.65rem;
    font-size: .8rem;
    right: initial;
    color: rgba(0,0,0,.3);
}
.mdc-text-field:not(.disabled) .m-field-icon {
    color: rgba(0,0,0,.54);
    z-index: 2;
}
.m-field-icon:not([tabindex]), .m-field-icon[tabindex="-1"] {
    cursor: default;
    pointer-events: none;
}
.m-field-with-icon .m-field-icon {
    position: absolute;
    cursor: default;
	z-index: 1;
}
.material-icons {
    font-size: .95rem;
    line-height: 1.4;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.m-field-with-icon.m-field .m-field-input {
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.mdc-text-field:not(.mdc-text-field--disabled) .m-field-input {
    color: rgba(0,0,0,.87);
}
.m-field .m-field-input {
    display: flex;
    padding: 3px;
    background-color: transparent;
    z-index: 1;
}
.m-field-input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 20px 16px 6px;
    transition: hover .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: focus .15s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: .125rem;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.m-field-input.select {
    padding: 0 1.5rem;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    appearance: caret;
}
.m-field.select-field:after {
    content: '\f0d7';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    top: .8rem;
    right: 1rem;
    color: #b2b2b2;
}
.m-field-input.textarea {
    padding: 0 1.5rem;
    align-self: auto;
}
.m-field.textarea-field {
    height: auto;
    margin-top: 1rem;
}
.m-field-input:hover {
    border: 1px solid rgba(0,0,0,.6);
}
.m-field-input:focus, .m-field-input:active {
    outline: none;
    border: 2px solid #0e9aa7;
}
.m-field-input:focus + .m-field-icon, .m-field-input:active + .m-field-icon {
    color: rgba(0,0,0,.6);
}
.m-field-input:focus + .m-field-icon + .m-notch-label, .m-field-input:active + .m-field-icon + .m-notch-label {
    top: -0.5rem;
    background: #fff;
    color: #0e9aa7;
    font-size: .85rem;
    left: 1.3rem;
    z-index: 2;
    line-height: 1rem;
    padding: 0 .25rem;
    font-weight: 500;
}
.m-notch-label {
    margin: 0;
    right: initial;
    color: rgba(0,0,0,.3);
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    transform-origin: left top;
    transition: all .25s cubic-bezier(0.4, 0, 0.2, 1);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    top: .6rem;
    background: #fff;
    font-size: .75rem;
    left: 1.5rem;
    z-index: 2;
    line-height: 1rem;
    padding: 0 .25rem;
}
.m-checkbox {
    position: absolute;
    opacity: 0;
}
.m-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 0.9rem;
    transition: all .35s ease;
}
.m-checkbox + label span {
    position: relative;
    top: 4px;
}
.m-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: 2px solid #c9c9c9;
    border-radius: .125rem;
    outline: none;
    transition: all .35s ease;
}
.m-checkbox:hover + label:before {
    border: 2px solid #9e9e9e;
}
.m-checkbox:checked + label:before {
    background: #3da4ab;
    border: 0;
    outline: none;
}
.m-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.m-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.m-checkbox:checked + label:after {
    content: '\f00c';
    position: absolute;
    left: 5px;
    top: 3px;
    color: white;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: .9rem
}
.small-nav {
    height: 3rem;
    box-shadow: 0 3px 6px rgba(155,155,155,0.16), 0 3px 6px rgba(155,155,155,0.23);
}
.news-title {
    font-size: 1.25rem;
    color: #0b1824;
    font-weight: 500;
    line-height: 1.2;
}
.section-title {
    padding-left: 1rem;
    border-left: 2px solid #0b1824;
    margin-bottom: 1rem;
}
.news-hr {
    margin: 0 0 1rem 0;
}
.first-section {
    padding-top: 1rem;
}
.mr-1 {
    margin-right: .25rem;
}
.time-class, .date-class, .user-class, .views-class { 
    color: #c9c9c9;
    margin-right: 1rem;
    font-size: .8rem;
    font-weight: 300;
}
.fresh-item .time-class, .fresh-item .date-class,
.fresh-item .user-class, .fresh-item .views-class {
    color: rgba(255, 255, 255, .8);
}
.news-left-item {
    display: flex;
    flex-direction: column;
}
.news-left-item:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: .25rem;
}
.feed-hedaer {
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: .9rem;
}
#areas-all.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
#areas-all .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.news-left-item .infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-area {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .75rem 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.section-mini {
    padding: 1rem 0;
}
.first-news-line {
    margin-top: 1rem;
}
.ad-square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 230px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #bdbdbd;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: .125rem;
}
.ad-block {
    background-color: #bdbdbd;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    height: 70px;
    width: 100%;
    border-radius: .125rem;
}
.ad-block__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 500;
}
.news-left {
    margin-bottom: 2rem;
}
.preloader {
    color: #bdbdbd;
}
.section-ad {
    padding: 0;
    text-align: center;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mb-4 {
    margin-bottom: 2rem;
}
.news-main-item {
    background-image: url('/public/img/news/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 21rem;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
    transition: transform .35s ease-out;
    will-change: transform;
    border-radius: .125rem;
}
.news-main-area {
    padding: .5rem;
}
.fresh-items .column {
    padding: .5rem;
}
.fresh-item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(155,155,155,0.12), 0 1px 2px rgba(155,155,155,0.24);
    background: rgba(0,0,0,0.5);
    border-radius: .125rem;
    transition: background .35s ease-out;
}
.fresh-item .label {
    margin-left: .5rem;
}
.fresh-item .infos {
    padding: .5rem;
}
.infos .label {
    margin-bottom: 0;
    margin-right: 1rem;
}
.actual-news, .first-news {
    padding: 1rem;
}
.fresh-item img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fresh-item h4 {
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    z-index: 2;
    padding: .5rem;
}
.news-main-item .items {
    margin-bottom: 2rem;
    z-index: 2;
}
.news-main-item .items h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.news-main-item .items button {
    margin-bottom: 1.5rem;
}
.news-main-item:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: background .35s ease-out;
    will-change: background;
    border-radius: .125rem;
}
.news-main-item .infos span {
    color: #E0E0E0;
    font-size: .8rem;
    font-weight: 300;
}
.news-main-item .infos span:not(:last-child) {
    margin-right: 1rem;
}
.actual-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.nlb-item .infos span {
    color: #9e9e9e;
    font-size: .75rem;
    font-weight: 300;
}
.nlb-item .infos span:not(:last-child) {
    margin-right: 1rem;
}
.nlb-item {
    width: calc(25% - 1.25rem);
    display: flex;
    flex-direction: column;
    border-radius: .125rem;
    margin-bottom: 1.5rem;
}
.nlb-item:not(:last-child) {
    margin-right: 1.25rem;
}
.nlb-item img.title-photo {
    width: 250px;
    height: 86px;
    object-fit: cover;
    border-radius: .125rem;
    margin-bottom: .75rem;
}
.nlb-item__title {
    color: #4a4a4a;
    font-weight: 600;
    font-size: .9rem;
    cursor: pointer;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.news-common-area {
    width: 100%;
}
.videos-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.video-item {
    padding: .5rem;
}
.video-item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.video-item img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: .125rem;
    margin-bottom: .25rem;
}
.video-item h5 {
    font-size: .9rem;
    font-weight: 600;
}
.news-inner-area {
    margin-bottom: 2rem;
}
.btn-cta {
    border: 0;
    color: #fff;
    background: #ef7c56;
    border-radius: .125rem;
    padding: .5rem 1.5rem;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(211, 85, 43, 0.12), 0 1px 2px rgba(211, 85, 43,0.24);
}
.ml-1 {
    margin-left: .25rem;
}
.mb-0 {
    margin-bottom: 0
}
.poll-area {
    padding: .5rem;
    display: flex;
    flex-direction: column;
}
.poll-area h4 {
    font-size: 1.05rem;
    font-weight: 600;
    color: #616161;
    margin-bottom: 1.5rem;
}
.poll-area .poll-item h6 {
    font-size: .9rem;
    color: #757575;
}
.poll-area .poll-item:not(:last-child) {
    margin-bottom: 1rem;
}
.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.progress-bar p {
    font-size: .85rem;
    font-weight: 600;
    color: #989898;
    margin-left: 1rem;
}
.meter { 
    width: 100%;
	height: .6rem;  /* Can be anything */
	position: relative;
	background: #ececec;
	-moz-border-radius: 5rem;
	-webkit-border-radius: 5rem;
	border-radius: 5rem;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    display: block;
    height: 100%;
    border-radius: 5rem 0 0 5rem;
    background: -webkit-linear-gradient(to left, #f9ba39 75%, #ef7c56); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f9ba39 75%, #ef7c56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    overflow: hidden;
}
.news-area .fresh-item {
    height: 15rem;
}
.news-area .fresh-item .infos {
    display: flex;
    flex-direction: column;
    padding: 0 0 .5rem .5rem;
}
.news-area .fresh-item span {
    color: #ebebeb;
}
.section-title {
    width: 100%;
}
.article-item {
    width: calc(33% - 1.25rem);
}
.nlb-item.article-item:nth-child(3n+3) {
    margin-right: 0;
}
.item-50 {
    width: calc(50% - 1.25rem);
}
.nlb-item.item-50 img.title-photo {
    height: 120px;
}
.nlb-item.item-50:nth-child(2n) {
    margin-right: 0;
}
.nlb-item.full-item img.title-photo {
    height: 70px;
    width: 80px;
    margin-right: .5rem;
    border-radius: .125rem;
}
.full-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.soon-item {
    display: flex;
    flex-direction: column;
}
.soon-item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.soon-item .head {
    display: flex;
    flex-direction: column;
}
.soon-item .head img {
    height: 6rem;
    object-fit: cover;
    margin-bottom: .5rem;
    border-radius: .125rem;
    padding: .125rem;
    border: 2px solid #f9ba39;
    box-shadow: 0 1px 3px rgba(239, 124, 86, .12), 0 1px 2px rgba(239, 124, 86, .24);
}
.soon-item .head .text h5 {
    font-weight: 600;
    font-size: .9rem;
}
.w-100 {
    width: 100%;
}
.mb-4 {
    margin-bottom: 2rem;
}
.news-inner-area .news-left-item img {
    height: 7rem;
    border-radius: .125rem;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(155,155,155,0.12), 0 1px 2px rgba(155,155,155,0.24);
    margin-bottom: .5rem;
}
.areas .columns .column .fresh-item {
    align-items: center;
}
.areas .columns .column .fresh-item h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.areas .columns .column .fresh-item h4 i {
    font-size: .9rem;
}
footer .m-field {
    height: auto;
}
footer .m-notch-label {
    background: #4a4e4d;
    color: #9e9e9e;
    top: .5rem;
    left: 1.75rem;
}
footer .m-field-input {
    border: 1px solid #9e9e9e;
    width: 175px;
}
footer .m-field-icon {
    color: #9e9e9e;
    left: .6rem;
    top: 0.6rem;
}
.subscribe { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.subscribe .cta-area {
    margin-left: .75rem;
}
.subscribe .cta-area .button.is-primary.is-inverted.is-outlined {
    border-color: #E0E0E0;
    color: #E0E0E0;
    padding: .25rem .75rem;
    font-size: .8rem;
    height: 30px;
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
label.label {
    padding: .25rem .75rem;
    background-color: rgba(15, 108, 248, .5);
    border-radius: .125rem;
    color: #fff;
    font-size: .65rem;
    font-weight: 500;
    text-transform: uppercase;
    width: max-content;
}
.footer .footer-wrap {
    display: flex;
    flex-direction: column;
  }
