@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.centered {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.limiter {
  margin: 0 auto;
  max-width: 1171px;
}

h1.title {
  font-size: 24px;
  color: #0f6cf8;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding-right: 20px;
}
.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: #0f6cfb;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 1rem;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-out;
  will-change: box-shadow;
}

.button::-moz-focus-inner {
  border: none;
}

/* Overlay */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity;
}

/* Ripple */
.button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
  will-change: opacity, transform;
}

/* Hover, Focus */
.button:hover,
.button:focus {
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button:hover::before {
  opacity: 0.08;
}

.button:focus::before {
  opacity: 0.24;
}

.button:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.button:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
  will-change: transform;
}

/* Disabled */
.button:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.button:disabled::before {
  opacity: 0;
}

.button:disabled::after {
  opacity: 0;
}

label.label {
  padding: 6px 13px;
  background-color: #0f6cf8;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

label.label.green {
  background-color: #4ca80b;
}
label.label.blue {
  background-color: #1f4a77;
}
label.label.light {
  background-color: #fda400;
}
label.label.red {
  background-color: #fc4a00;
}

.section-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-title__line {
  width: 100%;
  height: 3px;
  background-color: rgba(58, 58, 58, 0.3);
}

.ad {
  max-width: 728px;
  height: 90px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad-block {
  background-color: #989898;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
}

.ad-block__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3em;
  font-weight: 500;
}

.ad-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 230px;
  color: #ffffff;
  font-size: 1.875em;
  font-weight: 500;
  background-color: #989898;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileMenu {
  display: none;
}

.sticky-line {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  max-height: 60px;
  background-color: #0b1824;
  z-index: 3;
}

.sticky-line-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky-line__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky-line__nav-link {
  font-weight: 500;
  font-size: 0.85rem;
  color: #9c9c9c;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  will-change: color;
}
.social-link {
  font-size: .9rem;
}

.sticky-line__nav-link:not(:last-child) {
  margin-right: 1.25rem;
}
.sticky-line__nav-link.social-link:not(:last-child) {
  margin-right: .75rem;
}

.sticky-line__nav-link:hover {
  color: #fff;
}

.sticky-line__nav-link.active {
  color: #fff;
}

.sticky-line__nav-link:focus {
  color: #fff;
}

.sticky-line__nav-link:active {
  color: #fff;
}

.sticky-line__search {
  position: relative;
  max-width: 100%;
}

.sticky-line__search-area {
  width: 100%;
  background-color: #444444;
  border: 2px solid #c9c9c9;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sticky-line__search-area:focus {
  outline: none;
  border-color: #0f6cf8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sticky-line__search-area:focus[type="text"] {
  color: #ffffff;
}

.sticky-line__search input[type="text"] {
  font-weight: 300;
  color: #9c9c9c;
  padding: 5px;
  padding-right: 25px;
  font-size: 0.81em;
}

.sticky-line__search-submit {
  position: absolute;
  background-color: transparent;
  border: none;
  background-image: url("../images/default/search_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sticky-line__search-submit:focus {
  outline: none;
}

.header-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 978px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

.header-wrap__logo .logo-area {
  text-transform: uppercase;
    font-size: 4.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: #3a3a3a;
}
.header-wrap__logo .logo-area img {
  max-height: 120px;
}
.header-wrap__logo .logo-area.regional {
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: 300;
  color: #3a3a3a;
  margin-right: 2rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.header-wrap__logo .logo-area.regional p {
  position: absolute;
  top: 35px;
  left: 80px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0f6cfb;
}

.header-wrap__logo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  margin-top: 1rem;
}

.header-wrap__logo span.orange-letter {
  color: tomato;
}

.header-wrap__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-wrap__nav-link {
  color: #4a4a4a;
  font-size: 1rem;
  padding-right: 40px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  will-change: color;
}

.header-wrap__nav-link:last-child {
  padding-right: 0;
}

.header-wrap__nav-link:hover {
  color: #0f6cfb;
}

.header-wrap__nav-link:focus, .header-wrap__nav-link:active {
  color: #3886ff;outline:none;
}

.header-wrap__tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  display: none;
}

.header-wrap__tabs img {
  padding-right: 8px;
}

.header-wrap__tabs-list {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 1.125em;
  color: #0f6cf8;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  font-weight: 500;
  max-width: 100px;
}

.header-wrap__tabs-list:focus {
  outline: none;
}

.header-wrap__tabs span.rotated {
  padding-bottom: 5px;
  color: #0f6cf8;
  font-size: 1.25em;
  font-weight: 300;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.city {
  padding: 20px 0;
  display: flex;
  width: 100%;
}

.city-wrap {
  max-width: 978px;
  margin: 0 auto;
  width: 100%;
}

.city-wrap__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  justify-content: center;
    align-items: center;
}

.city-wrap__item:focus {
  outline: none;
}

.city-wrap__item-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
          box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
}
.city-wrap__item-photo img {
  transition: transform .3s ease-out;
  will-change: transform;
}

.city-wrap__item-photo .photo-mask {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.city-wrap__item-title {
  padding-top: .3rem;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  will-change: color;
}

.city-wrap__item-title span {
  font-size: 0.75rem;
  font-weight: 500;
  color: #4a4a4a;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  will-change: color;
}

.city-wrap__item:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.city-wrap__item:hover .city-wrap__item-title span {
  color: #0f6cf8;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.city-wrap__item:hover img,
.city-wrap__item:active img,
.city-wrap__item:focus img {
  transform: scale(1.1);
}
.city-wrap__item:hover .photo-mask,
.city-wrap__item:active .photo-mask,
.city-wrap__item:focus .photo-mask {
  opacity: .1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.city-wrap__item:focus .city-wrap__item-title span {
  color: #3886ff;outline:none;
}

.city-wrap__item:active .city-wrap__item-title span {
  color: #3886ff;outline:none;
}

.city-wrap .slick-arrow {
  background-color: #0f6cf8;
  width: 50px;
  height: 50px;
  right: -72px;
  background-image: url("../images/default/next_icon--white.svg");
}

.city-wrap .slick-arrow:hover {
  background-color: #3886ff;outline:none;
}

.city-wrap .slick-prev {
  left: -72px;
  background-image: url("../images/default/back_icon--white.svg");
}

.theme {
  padding: 0 0 20px 0;
}

.theme-block {
  min-height: 490px;
  background-color: #9c9c9c;
  border-radius: 5px;
  padding: 10px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.theme-block__info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
}

.theme-block__info-title {
  font-size: 1.4em;
  color: #ffffff;
  padding: 15px 0;
  font-weight: 500;
  display: block;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  will-change: color;
}

.theme-block__info-title:hover {
  color: #f5f5f5;
}

.theme-block__info-title:focus,
.theme-block__info-title:active {
  color: #f5f5f5;
  outline: none;
}

.theme-block__info-time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.theme-block__info-time img {
  max-width: 15px;
}

.theme-block__info-time span {
  padding-left: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 300;
}

.theme-block__info-author {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.theme-block__info-author img {
  max-width: 15px;
}

.theme-block__info-author a {
  padding-left: 5px;
  color: #ffffff;
  width: 100%;
  min-width: 100px;
  font-size: 0.85em;
  font-weight: 300;
  cursor: pointer;
}

.theme-block__info-count {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-block__info-count img {
  max-width: 15px;
}

.theme-block__info-count span {
  padding-left: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 300;
}

.slider {
  padding: 20px 0;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.center-feed {
  position: relative;
    display: flex;
    flex-direction: column;
}
#main-slider {
  margin-bottom: 1.5rem;
  width: 100%;
}
.slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(155,155,155,0.12), 0 1px 2px rgba(155,155,155,0.24);
  background: rgba(0,0,0,0.5);
  border-radius: .125rem;
  transition: background .35s ease-out;
}
.slider-item img {
  position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-out;
}
.slider-item:hover img,
.slider-item:focus img,
.slider-item:active img {
  transform: scale(1.1);
}

.slider-item .theme-block__info-data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      color: rgba(255, 255, 255, .85);
      font-size: .85rem;
}
.slider-item .theme-block__info-data:hover,
.slider-item .theme-block__info-data:active,
.slider-item .theme-block__info-data:focus {
  cursor: default;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0);
  background-image: url("../images/default/next_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-arrow:hover {
  background-color: #ededed;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slick-prev {
  left: -30px;
  background-image: url("../images/default/back_icon.svg");
}

.slick-next {
  right: -30px;
}

.news-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news-left, .news-right {
  width: 48%;
}

.news {
  padding-bottom: 15px;
}

.news-left__block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.news-right__block {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.news-right__block-row {
  padding-bottom: 14.4px;
}

.news-right__block-row span:nth-child(1) {
  color: #c4c4c4;
  font-size: 0.875em;
  padding-right: 12px;
  font-weight: 500;
}

.news-right__block-row span:nth-child(2) {
  color: #2f2f2f;
  font-weight: 500;
}

.nlb-item {
  width: 48%;
  overflow: hidden;
}

.nlb-item:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border-radius: 11px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nlb-item img {
  width: 100%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.nlb-item__title {
  color: #444444;
  font-size: 1.25em;
  font-weight: 500;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nlb-item__title:hover {
  color: #848484;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nlb-item__title:focus {
  color: #9d9d9d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nlb-item__title:active {
  color: #9d9d9d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nlb-item__data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nlb-item__data img {
  max-width: 20px;
  padding: 0;
}

.nlb-item__data span {
  padding-left: 10px;
  color: #9c9c9c;
}
.events-area .nlb-item__data span {
  padding-left: 0;
}
.articles-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.articles-top__content {
  width: 100%;
  display: inline-block;
}

.articles-top__ads {
  width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}

.articles-top__ads .ad-square:nth-child(1) {
  margin-bottom: 20px;
}

.articles-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-top-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-block__item {
  padding-bottom: 45px;
  width: 100%;
}

.articles-block__item:hover img.title-img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.articles-block__item:nth-child(1) {
  width: 68%;
}

.articles-block__item:nth-child(2) {
  width: 68%;
}

.articles-block__item img.title-img {
  min-width: 380px;
  max-width: 380px;
  width: 100%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
}

.articles-block__item a.title {
  color: #000000;
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.articles-block__item a.title:hover {
  color: #404040;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.articles-block__item a.title:focus {
  color: #666666;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.articles-block__item a.title:active {
  color: #666666;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.articles-block__item span.descr {
  color: #9c9c9c;
}

.articles-block__item-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.articles-block__item-info-data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.articles-block__item-info-data .watches {
  padding-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
}

.articles-block__item-info-data .watches img {
  max-width: 15px;
}

.articles-block__item-info-data .watches span {
  padding-left: 7px;
  color: #444444;
}

.articles-block__item-info-data .sharing {
  padding-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
}

.articles-block__item-info-data .sharing img {
  max-width: 15px;
}

.articles-block__item-info-data .sharing span {
  padding-left: 7px;
  color: #444444;
}

.some-block {
  padding: 40px 0;
}

.some-block-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.some-block-wrap section {
  width: 32%;
}

.video .heading-right__block {
  max-height: 268px;
}

.video .hrb-item {
  border-bottom: 2px solid #f9f9f9;
  margin: 0 auto;
  margin-bottom: 20px;
}

.video-link {
  min-width: 80px;
  max-width: 80px;
  overflow: hidden;
  min-height: 50px;
  border-radius: 5px;
  background-color: #9c9c9c;
  position: relative;
}

.video-link::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url("../images/default/play_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.video-link::before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.video-link:hover::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.video-link:hover::before {
  opacity: 0.2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.quest-form {
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-form__title {
  font-size: 1.125em;
  color: #000000;
  font-weight: 700;
  padding-bottom: 20px;
}

.quest-form__row {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quest-form__row input {
  position: relative;
  z-index: 1;
}

.quest-form__row input::after {
  content: '';
  position: absolute;
  left: -6px;
  top: -3px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  z-index: 2;
}

.quest-form__row input::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 2px;
  z-index: 3;
}

.quest-form__row input:checked::after {
  background-color: #0f6cf8;
}

.quest-form__row label {
  padding-left: 20px;
}

.quest-form a {
  margin-top: 20px;
}

.feedback-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 220px;
  padding: .5rem;
    background: #eee;
    border-radius: .125rem;
    box-shadow: 0 1px 3px rgba(155,155,155,0.12), 0 1px 2px rgba(155,155,155,0.24);
}

.feedback-form__title {
  padding: 1rem 0;
    font-weight: 500;
    font-size: .9rem;
}

.feedback-form__mail {
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  margin-bottom: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback-form__mail[type="email"] {
  padding: 7px 10px;
}

.feedback-form__mail:focus {
  color: #2f2f2f;
  border-color: #0f6cf8;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feedback-form__mail:focus[type="email"] {
  color: #2f2f2f;
}

.feedback-form__submit {
  cursor: pointer;
  display: inline-block;
  width: auto;
}

.heading-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading-left {
  width: 67%;
}

.heading-left__block {
  padding-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading-right {
  width: 30%;
}

.heading-right__block {
  margin-top: 1rem;
  max-height: 470px;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  padding: .5rem;
}

.heading-right__block::-webkit-scrollbar {
  width: 4px;
  border-radius: 15rem;
}

.heading-right__block::-webkit-scrollbar-track-piece {
  background: #eee;
}

.heading-right__block::-webkit-scrollbar-thumb {
  border-radius: 15rem;
  width: 5px;
  background: #1f4a77;
}

.heading-right__tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.tab {
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
  will-change: color, border;
  padding-bottom: 2px;
  font-size: .8rem;
}
.tab:hover, .tab:active, .tab:focus {
  border-bottom: 1px solid #c4c4c4;
}
.tab:active, .tab:focus {
  color: #0f6cf8;
}

.tab.active {
  color: #0f6cf8;
  border-bottom: 1px solid #c4c4c4;
}

.tab:focus {
  outline: none;
}

.hlb-item {
  width: 30%;
  min-height: 225px;
  background-color: #9c9c9c;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
}

.hlb-item__info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hlb-item__info-title {
  color: #ffffff;
  padding-top: 7px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hlb-item__info-title:hover {
  color: #6a6a6a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hlb-item__info-title:focus {
  color: #848484;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hlb-item__info-title:active {
  color: #848484;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hrb-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  max-width: 300px;
}

.hrb-item img.title-photo {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
}

.hrb-item__info {
  padding-left: .5rem;
}

.hrb-item__info-title {
  font-weight: 500;
  font-size: .9rem;
}

.hrb-item__info .nlb-item__data {
  margin-top: 5px;
  color: #9e9e9e;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hrb-item__photo img {
  width: 100%;
  max-width: 90px;
  height: 60px;
  object-fit: cover;
  position: relative;
}

.hrb-item__photo span {
  position: absolute;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #0f6cf8;
}

.second-heading .heading-right__block {
  display: none;
}

.second-heading .heading-right__block.active {
  display: block;
}
.footer {
  background: #0b1824;
  color: #fff;
  padding: 2rem 1rem 1rem 1rem;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer-left__logo {
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}

.footer-left__logo img {
  max-width: 120px;
}

.footer-left__logo.regional {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
}

.footer-left__logo.regional p:first-child {
  font-size: .9rem;
}

.footer-left__logo span {
  color: #0f6cf8;
}

.footer-left__socials {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-left__socials a {
  margin-right: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #9e9e9e;
  border-radius: 50%;
  transition: color .3s ease-out, background .3s ease-out;
  will-change: color, background;
}
.footer-left__socials a:hover {
  color: #0f6cfb;
  background: #f5f5f5;
}
.footer-left__socials a:active, 
.footer-left__socials a:focus {
  color: #3886ff;
  background: #f5f5f5;
}

.footer-left__socials a:last-child {
  margin-right: 0;
}

.footer-left__copyright span {
  display: block;
  color: #757575;
  font-size: 0.875em;
}

.footer-left__copyright span:nth-child(1) {
  padding-bottom: 10px;
}

.footer-right {
  width: 100%;
}

.footer-right__nav ul > * {
  display: block;
}

.footer-right__nav ul {
  width: 33%;
}

.footer-right__nav ul li {
  padding-bottom: 20px;
}

.footer-right__nav ul li:first-child {
  min-height: 70px;
  max-height: 70px;
}

.footer-right__nav ul li a {
  color: #c9c9c9;
  font-weight: 500;
}

.footer-right__nav ul li a:hover {
  color: #0f6cf8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-right__nav ul li a:hover img {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-right__nav ul li a:focus {
  color: #3886ff;outline:none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-right__nav ul li a:active {
  color: #3886ff;outline:none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-right__nav ul li a:last-child {
  padding-bottom: 0;
}

.footer-right__nav ul li a img {
  min-width: 14px;
  padding-right: 5px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-right__nav ul li span {
  font-size: 1.125em;
  color: #757575;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .limiter {
    max-width: 310px;
  }
  .first-ad {
    padding-top: 60px;
  }
  label.label {
    padding: 3px 8px;
  }
  .sticky-line {
    top: auto;
    bottom: 0;
  }
  .sticky-line-wrap {
    max-width: 310px;
  }
  .sticky-line__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .sticky-line__nav-link {
    padding: 0;
  }
  .sticky-line__search {
    display: none;
  }
  .header {
    padding: 0;
    position: fixed;
    min-height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
  }
  .header-wrap__nav {
    visibility: hidden;
    position: fixed;
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .header-wrap__nav.active {
    visibility: visible;
    -webkit-box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
            box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
    max-height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 5;
  }
  .header-wrap__nav-link {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .header-wrap__logo {
    padding: 10px 0 0 10px;
  }
  .header-wrap .mobileMenu {
    display: block;
    position: relative;
    z-index: 6;
    padding: 10px 10px 0 0;
  }
  
  .city-wrap {
    max-width: 320px;
  }
  .city-wrap__item {
    max-width: 73px;
    min-width: 73px;
    width: 33% !important;
    margin: 0 5px;
  }
  .city-wrap__item-photo {
    margin-left: 0;
  }
  .theme-block {
    min-height: 250px;
  }
  .theme-block__info-title {
    font-size: 0.8em;
  }
  .slick-arrow {
    display: none !important;
  }
  .slider-item {
    max-width: auto;
    width: 100%;
    min-width: 300px;
    min-height: 180px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-left {
    width: 100%;
  }
  .news-left__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-right {
    width: 100%;
  }
  .news-right__block-row {
    padding: 0 10px 10px 10px;
  }
  .nlb-item {
    width: 100%;
    max-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .ad-square {
    display: none;
  }
  .articles-block__item {
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #444444;
  }
  .articles-block__item img.title-img {
    padding-bottom: 20px;
    max-width: 300px;
    min-width: 300px;
  }
  .articles-block__item:nth-child(1) {
    width: 100%;
  }
  .articles-block__item:nth-child(2) {
    width: 100%;
  }
  .articles-block__item-info-data {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articles-block__item-info-data .watches {
    padding-bottom: 5px;
  }
  .articles-block__item-info-data .sharing {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .articles-block__item-info-data label {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .some-block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .some-block-wrap section {
    width: 100%;
  }
  .quest-form {
    margin: 10px;
  }
  .heading-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading-left {
    width: 100%;
  }
  .heading-right {
    width: 100%;
  }
  .hlb-item {
    width: 48%;
  }
  .footer-right {
    display: none;
  }
  .footer-left {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 420px) and (max-width: 560px) {
  .limiter {
    max-width: 410px;
  }
  .first-ad {
    padding-top: 60px;
  }
  label.label {
    padding: 3px 8px;
  }
  .sticky-line {
    top: auto;
    bottom: 0;
  }
  .sticky-line-wrap {
    max-width: 410px;
  }
  .sticky-line__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .sticky-line__nav-link {
    padding: 0;
  }
  .sticky-line__search {
    display: none;
  }
  .header {
    padding: 0;
    position: fixed;
    min-height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
  }
  .header-wrap__nav {
    visibility: hidden;
    position: fixed;
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .header-wrap__nav.active {
    visibility: visible;
    -webkit-box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
            box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
    max-height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 5;
  }
  .header-wrap__nav-link {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .header-wrap__logo {
    padding: 10px 0 0 10px;
  }
  .header-wrap .mobileMenu {
    display: block;
    position: relative;
    z-index: 6;
    padding: 10px 10px 0 0;
  }
  .city-wrap {
    max-width: 420px;
  }
  .city-wrap__item {
    max-width: 73px;
    min-width: 73px;
    width: 33% !important;
    margin: 0 5px;
  }
  .city-wrap__item-photo {
    margin-left: 0;
  }
  .theme-block {
    min-height: 250px;
  }
  .theme-block__info-title {
    font-size: 0.8em;
  }
  .slick-arrow {
    display: none !important;
  }
  .slider-item {
    max-width: auto;
    width: 100%;
    min-width: 400px;
    min-height: 180px;
  }
  .slider-item .theme-block__info {
    bottom: 20px;
    left: 20px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-left {
    width: 100%;
  }
  .news-left__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-right {
    width: 100%;
  }
  .news-right__block-row {
    padding: 0 10px 10px 10px;
  }
  .nlb-item {
    width: 100%;
    max-width: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .news-right__block-row span:nth-child(2) {
    font-size: 12px;
  }
  .ad-square {
    display: none;
  }
  .articles-block__item {
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #444444;
  }
  .articles-block__item img.title-img {
    padding-bottom: 20px;
    max-width: 400px;
    min-width: 400px;
  }
  .articles-block__item:nth-child(1) {
    width: 100%;
  }
  .articles-block__item:nth-child(2) {
    width: 100%;
  }
  .some-block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .some-block-wrap section {
    width: 100%;
  }
  .quest-form {
    margin: 10px;
  }
  .heading-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading-left {
    width: 100%;
  }
  .heading-right {
    width: 100%;
  }
  .hlb-item {
    width: 48%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-right {
    display: none;
  }
  .footer-left {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .limiter {
    max-width: 550px;
  }
  .first-ad {
    padding-top: 60px;
  }
  label.label {
    padding: 3px 8px;
  }
  .sticky-line {
    top: auto;
    bottom: 0;
  }
  .sticky-line-wrap {
    max-width: 550px;
  }
  .sticky-line__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .sticky-line__nav-link {
    padding: 0;
  }
  .sticky-line__search {
    display: none;
  }
  .header {
    padding: 0;
    position: fixed;
    min-height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
  }
  .header-wrap__nav {
    visibility: hidden;
    position: fixed;
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .header-wrap__nav.active {
    visibility: visible;
    -webkit-box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
            box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
    max-height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 5;
  }
  .header-wrap__nav-link {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .header-wrap__logo {
    padding: 10px 0 0 10px;
  }
  .header-wrap .mobileMenu {
    display: block;
    position: relative;
    z-index: 6;
    padding: 10px 10px 0 0;
  }
  .city-wrap {
    max-width: 420px;
  }
  .city-wrap__item {
    max-width: 73px;
    min-width: 73px;
    width: 33% !important;
    margin: 0 5px;
  }
  .city-wrap__item-photo {
    margin-left: 0;
  }
  .theme-block {
    min-height: 350px;
  }
  .theme-block__info-title {
    font-size: 0.8em;
  }
  .slider-item {
    max-width: auto;
    width: 100%;
    min-width: 550px;
    min-height: 180px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-left {
    width: 100%;
  }
  .news-left__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-right {
    width: 100%;
  }
  .news-right__block-row {
    padding: 0 10px 10px 10px;
  }
  .nlb-item {
    width: 100%;
    max-width: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .news-right__block-row span:nth-child(2) {
    font-size: 12px;
  }
  .ad-square {
    display: none;
  }
  .articles-block__item {
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #444444;
  }
  .articles-block__item img.title-img {
    padding-bottom: 20px;
    max-width: 540px;
    min-width: 540px;
  }
  .articles-block__item:nth-child(1) {
    width: 100%;
  }
  .articles-block__item:nth-child(2) {
    width: 100%;
  }
  .some-block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .some-block-wrap section {
    width: 100%;
  }
  .quest-form {
    margin: 10px;
  }
  .heading-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading-left {
    width: 100%;
  }
  .heading-right {
    width: 100%;
  }
  .hlb-item {
    width: 48%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-right {
    display: none;
  }
  .footer-left {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .limiter {
    max-width: 740px;
  }
  .first-ad {
    padding-top: 60px;
  }
  label.label {
    padding: 3px 8px;
  }
  .sticky-line {
    top: auto;
    bottom: 0;
  }
  .sticky-line-wrap {
    max-width: 740px;
  }
  .sticky-line__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .sticky-line__nav-link {
    padding: 0;
  }
  .sticky-line__search {
    display: none;
  }
  .header {
    padding: 0;
    position: fixed;
    min-height: 50px;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
  }
  .header-wrap__nav {
    visibility: hidden;
    position: fixed;
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  .header-wrap__nav.active {
    visibility: visible;
    -webkit-box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
            box-shadow: 0 1px 8px 1px rgba(29, 29, 29, 0.3);
    max-height: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 5;
  }
  .header-wrap__nav-link {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .header-wrap__logo {
    padding: 10px 0 0 10px;
  }
  .header-wrap .mobileMenu {
    display: block;
    position: relative;
    z-index: 6;
    padding: 10px 10px 0 0;
  }
  .city-wrap {
    max-width: 420px;
  }
  .city-wrap__item {
    max-width: 73px;
    min-width: 73px;
    width: 33% !important;
    margin: 0 5px;
  }
  .city-wrap__item-photo {
    margin-left: 0;
  }
  .theme-block {
    min-height: 400px;
  }
  .theme-block__info-title {
    font-size: 0.8em;
  }
  .slider-item {
    max-width: auto;
    width: 100%;
    max-width: 700px !important;
    min-height: 180px;
  }
  .news-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-left {
    width: 100%;
  }
  .news-left__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-right {
    width: 100%;
  }
  .news-right__block-row {
    padding: 0 10px 10px 10px;
  }
  .nlb-item {
    width: 100%;
    max-width: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .news-right__block-row span:nth-child(2) {
    font-size: 12px;
  }
  .ad-square {
    display: none;
  }
  .articles-block__item {
    max-width: 100%;
    margin: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid #444444;
  }
  .articles-block__item img.title-img {
    padding-bottom: 20px;
  }
  .articles-block__item:nth-child(1) {
    width: 100%;
  }
  .articles-block__item:nth-child(2) {
    width: 100%;
  }
  .articles-block__item .sharing {
    min-width: 140px;
  }
  .some-block {
    overflow: hidden;
  }
  .some-block-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .some-block-wrap section {
    width: 48%;
  }
  .some-block-wrap section.feedback {
    width: 100%;
  }
  .quest-form {
    margin: 10px;
  }
  .heading-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading-left {
    width: 100%;
  }
  .heading-right {
    width: 100%;
  }
  .hlb-item {
    width: 48%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-right {
    display: none;
  }
  .footer-left {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1180px) {
  .limiter {
    max-width: 1000px;
  }
  .slider {
    max-width: 950px;
  }
  .city-wrap .slick-arrow {
    right: -20px;
  }
  .city-wrap .slick-prev {
    left: -20px;
  }
  .ad-square {
    display: none;
  }
  .articles-block__item:nth-child(1) {
    width: 100%;
  }
  .articles-block__item:nth-child(2) {
    width: 100%;
  }
}
