RewriteEngine On
RewriteBase /
RewriteCond %{HTTP:SSL} !=1 [NC]
RewriteRule ^(.*) https://crystal.kiev.ua/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.crystal.kiev.ua [NC]
RewriteRule ^(.*)$ http://crystal.kiev.ua/$1 [L,R=301]

ErrorDocument 404 /err404.html